html, body, main, .container-app, #target {
  height: 100%;
}

body {
  padding-top: 75px;
}

.input-group {
  .input-group-addon {
    padding: 0;
    > button {
      padding: 0 5px;
      margin: 0;
      border: none;
      height: 32px;
      background: transparent;
    }
  }
}

.container-loading {
  padding: 15px 10px;
  text-align: center;
  font-size: 24px;
}

.list-videos {
  list-style: none;
  margin: 25px auto;
  height: 100%;
  li {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    overflow: hidden;
    background: #ccc;
  }
  img {
    width:100%;
    height: 100%;
    object-fit: fill;
  }
  .container-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 5px 8px;
    background: rgb(224, 224, 224); /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 0, 0, .75);
  }
}